VITE_SUPABASE_URL=https://gkejwfljnnqgftojtyjt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdrZWp3Zmxqbm5xZ2Z0b2p0eWp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0MDI3NTMsImV4cCI6MjA5Mjk3ODc1M30.UjBix83TZOjTVBXI9kIRlJ8LeFLRnfuaMdSTx3SRMYg
